//Font Poopins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,::before,::after,h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #F6F8FD;
}

.navbar {
    width: 100%;
    background-color: #fff !important;
    box-shadow: 0px 52px 80px rgba(0, 0, 0, 0.0139364), 0px 15.6765px 24.1177px rgba(0, 0, 0, 0.02), 0px 6.51121px 10.0172px rgba(0, 0, 0, 0.0260636), 0px 2.35498px 3.62304px rgba(0, 0, 0, 0.04);
    padding: 1rem 0;
    .sidebar-button {
        cursor: pointer;
        ion-icon {
            font-size: 26px;
        }
    }
    .navbar-brand {
        font-weight: 600;
        display: flex;
        align-items: center;
        font-size: 18px;
        color: #3f895b;
        &:hover {
            color: #3f895b;
        }
        img {
            width: 100%;
            max-width: 32px;
            max-height: 32px;
            margin-right: .7rem;
        }
    }
}

//Sidebar
.sidebar-container {
    position: fixed;
    min-height: 100%;
    width: 350px;
    left: -350px;
    top: 0;
    z-index: 999;
    background-color: #fff;
    border-right: 1px solid rgb(221, 218, 218);
    transition: .5s ease;

    &.sidebar-active {
        left: 0;
        transition: .8s ease;
    }

    .sidebar-wrapper {
        padding: 2rem 1.5rem;
        .close-button {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 1.8rem;
            cursor: pointer;
            ion-icon {
                font-size: 28px;
            }
        }
        .brand-logo {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 100%;
                max-width: 48px;
                margin-bottom: .7rem;
            }
            h5 {
                color: #38694B;
                font-size: 18px;
                font-weight: 600;
            }
        }
        .sidebar-menu {
            padding: 2.4rem 0;
            .sidebar-link {
                text-decoration: none;
                color: rgb(23, 21, 21);
                font-size: 14px;
                display: flex;
                align-items: center;
                font-weight: 500;
                transition: .3s ease;
                &:not(:last-child) {
                    margin-bottom: .7rem;
                }
                img {
                    width: 100%;
                    max-width: 28px;
                    max-height: 28px;
                    margin-right: .5rem;
                }
                &:hover {
                    transform: translateX(5px);
                    transition: .3s ease;
                }
            }
            .text-menu {
                color: rgb(155, 148, 148);
                font-weight: 400;
                font-size: 12px;
                margin: 20px 0 8px 0;
            }
        }
    }
}
.button {
    background: transparent; 
    border: none;
    padding: .7rem 1rem;
    border-radius: 10px;
    font-weight: 600;
    &.button-primary {
        background-color: #3f895b;
        color: #fff;
        transition: .3s ease;
        &:hover {
            background-color: #396a4c;
            transition: .3s ease;
        }
    }
    &.button-small {
        font-size: 12px;
    }
}
.form-input {
    margin-bottom: 1rem;
    .form-label {
        color: #AAABB1;
        font-weight: 400;
        font-size: 12px;
    }
    .form-control,.form-select {
        border: 1px solid #38694B;
        color: #38694B;
        border-radius: 6px;
        font-size: 14px;
        padding: .6rem 1rem;
        &:focus {
            box-shadow: none;
        }
    }
}
.card {
    padding: 2.8rem 2.5rem;
    border-radius: 12px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    &.item-card {
        border: 1px solid rgb(211, 206, 206);
    }
}
.wrapper-table {
    table {
        width: 100%;
        tbody {
            tr {
                td {
                    color: #001845;
                    font-weight: 300;
                    padding: .2rem 0;
                    .text-primary {
                        color: #3f895b !important;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media screen and (max-width : 567px) {
    .wrapper-table {
        table {
            tbody {
                tr {
                    td {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}